@import "../../styles/root.scss";

.header {
    &-nav {
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;

        &_content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 35px;

            @media (max-width: 991px) {
                padding-top: 20px;
            }

            &-block {
                width: 80%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                // z-index: 10;

                @media (max-width: 768px) {
                    display: none;
                    transform: translateY(-100%);
                    transition: .5s ease;

                    &.active {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 100%;
                        height: 100vh;
                        z-index: 5;
                        background: #eee;
                        flex-direction: column;
                        transform: translateY(0%);
                    }
                }

            }

            .logo {
                img {
                    user-select: none;
                    pointer-events: none;
                }
            }

            &-list {
                display: flex;

                @media (max-width: 768px) {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                }

                &_item {
                    margin: 0 30px;

                    @media (max-width: 768px) {
                        margin: 20px 0;
                    }

                    &-link {
                        color: var(--darkBlue);
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 19px;

                        &:hover {
                            color: var(--black);
                        }

                        @media (max-width: 768px) {
                            font-size: 22px;
                            padding: 20px;
                        }
                    }
                }
            }

            &-btns {
                display: flex;

                @media (max-width: 768px) {
                    margin-top: 15px;
                }

                &_btn {
                    font-size: 18px;
                    line-height: 22px;
                    border: none;
                    padding: 13px 35px;
                    border-radius: 30px;
                    margin: 0 5px;
                    transition: .5s ease;
                    position: relative;
                    z-index: 1;
                    overflow: hidden;

                    &::before {
                        position: absolute;
                        content: "";
                        top: 0;
                        right: 0;
                        width: 0;
                        height: 100%;
                        z-index: -1;
                        background: var(--blue);
                        transition: .5s ease;
                    }

                    &:hover,
                    &.active {
                        color: var(--white);

                        &::before {
                            width: 100%;
                        }
                    }

                    @media (max-width: 1024px) {
                        padding: 13px 16px;
                    }

                    @media (max-width: 991px) {
                        padding: 10px;
                    }

                    @media (max-width: 768px) {
                        padding: 15px 25px;
                        margin: 0 10px;
                        background: var(--white);
                    }

                }
            }

            .burger-menu {
                display: none;
                border: none;
                outline: none;
                background: transparent;
                transition: .5s ease;

                div {
                    width: 30px;
                    height: 3px;
                    background: var(--black);
                    margin: 5px 0;
                    transition: .5s ease;
                }

                &.active {
                    display: flex;
                    position: relative;
                    // position: absolute;
                    // top: 20px;
                    // right: 20px;
                    z-index: 6;

                    div {
                        margin: 10px 0;

                        &:nth-child(1) {
                            transform: rotate(-45deg);
                            position: absolute;
                            left: 0;
                        }

                        &:nth-child(2) {
                            width: 0;
                            height: 0;
                        }

                        &:nth-child(3) {
                            transform: rotate(45deg);
                            // position: absolute;  
                            top: 0;
                            // right: 0;
                        }
                    }
                }

                @media (max-width: 768px) {
                    display: block;
                }
            }
        }

    }
}